body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(to bottom, #909d9a, rgb(106, 115, 114));
}

.main-header {
    background: linear-gradient(to bottom, #e3e6e5, #dfe7ea);
    color: #104047;
    text-align: center;
    padding: 50px 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
}

.main-header h1 {
    font-size: 3em;
    margin: 0;
}

.main-header p {
    font-size: 1.5em;
    margin: 10px 0;
}

.about-section,
.portfolio-section,
.contact-section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #e5e7ea;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section h2,
.portfolio-section h2,
.contact-section h2 {
    color: #104047;
}

.portfolio-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio-item {
    background: #f2f5fb;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(50% - 20px);
    text-align: center;
}

.portfolio-item h3 {
    color: #104047;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
}